body {
    background-color: #303339;
    color: white;
    font-family: Arial, sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #2c2f33;
    color: white;
}

th, td {
    border: 1px solid #444;
    padding: 8px;
}

th {
    background-color: #23272a;
    text-align: left;
}

#searchContainer {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}


#searchInput {
    padding: 8px;
    flex-grow: 1;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: #2c2f33;
    color: white;
    border: 1px solid #444;
}

#searchInput::placeholder {
    color: #bbb;
}

#itemCounter {
    margin-left: 10px;
    font-size: 1em;
    vertical-align: middle;
}

a.title-link {
    color: white;
    text-decoration: underline;
}

a.title-link:hover {
    color: #ddd;
}

.creator-link {
    text-decoration: underline;
    color: inherit;
    cursor: pointer;
    text-decoration-thickness: 1.5px;
}

.item-view {
    display: none;
    background-color: #2c2f33;
    padding: 20px;
    border: 1px solid #444;
    margin-top: 20px;
}

.item-view h1 {
    margin-bottom: 1px; /* Reduce the space below the title */
}

.item-view h2 {
    margin-top: 0; /* Remove the space above the creator name */
}

.image-container {
    text-align: center;
    margin: 20px 0;
}

.image-container img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.button-container {
    text-align: center;
    margin: 20px;
}

.button-container button {
    background-color: #444;
    border: none;
    padding: 7px 12px;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 10px;
    width: 71px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px;
}


.youtube-button {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 504.72 385.68'%3E%3Cpath fill='%23FE0002' d='M480.93,49.39V25.38h-23.41V0H49.35v25.38H23.33v24.01H0v289.51h23.33v22.77h26.03v24.01h408.17v-24.01h23.41v-22.77h23.79V49.39H480.93z M366.36,218h-51.87v24.64H266.5v27.23h-45.39v20.75h-53.17V96.75h53.17v22.05h45.39v26.59h47.98v20.75h51.87V218z'/%3E%3Cpolygon fill='%23FFFFFF' points='314.48,145.38 266.5,145.38 266.5,118.79 221.11,118.79 221.11,96.75 167.94,96.75 167.94,290.62 221.11,290.62 221.11,269.87 266.5,269.87 266.5,242.64 314.48,242.64 314.48,218 366.36,218 366.36,166.13 314.48,166.13'/%3E%3C/svg%3E");
}

.table-button {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 504.72 385.68'%3E%3Cpolygon fill='%23FFFFFF' points='504.69,155.2 466.82,155.2 466.82,116.37 427.97,116.37 427.97,76.62 114.93,76.62 114.93,0 75.45,0 75.45,37.43 37.72,37.43 37.72,76.62 0,76.62 0,114.34 37.72,114.34 37.72,153.53 75.45,153.53 75.45,192.72 114.93,192.72 114.93,116.37 427.96,116.37 427.96,155.22 466.79,155.22 466.79,309.3 427.94,309.3 427.94,348.14 254.26,348.14 254.26,385.62 427.97,385.62 427.97,348.15 466.79,348.15 466.79,309.31 504.69,309.31'/%3E%3C/svg%3E");
}

.item-id {
    text-align: center;
    margin-top: 20px;
    font-size: 1.2em;
    color: #aaa;
}

.rounded-border {
    border-radius: 8px;
}
